# Task no 1
## Prizes based on score

In [55]:
points=174
result=""

if (points >=1 and points <=50) :
    result ="Congratulations! You won a price [wooden rabbit]!"
    
elif (points >=51 and points <=150):
    result="Oh dear , no prize this time."
elif (points >=151 and points <=180):
    result="Congratulations! You won a price [wafer-thin mint]!"
elif (points >=181 and points <=200):
    result="Congratulations! You won a price [penguin]!"
else:
    result='invalid points'
print(result)

Congratulations! You won a price [wafer-thin mint]!

# Task no 2 
## Guess My Number

In [57]:
answer=50
guess=int(input("Enter your guess number:"))
result=''

if guess < answer:
    result="Oops! your guess was too low"
elif guess > answer:
    result="Oops! your guess was too high"
else:
    result="Nice! your guess matched the answer"
print(result)

Enter your guess number:50
Nice! your guess matched the answer

# Task no 3
### Tax

In [69]:

tax_info ={
    'CA':0.075, #7.5%
    'MN':0.095, #9.5%
    'NY':0.089, #8.9%
}

amount=float(input("Enter amount of purchase: "))
state=input("Enter your state (CA, MN or NY): ")

if state in tax_info:
    tax= tax_info[state]
    tax_amount = amount*tax
    total_amount=amount+tax_amount
    
    print(f"Tax amount: ${tax_amount:.2f}")
    print(f"Total amount: ${total_amount:.2f}")
else:
    print("Wrong State! ,Please Enter Correct state (CA,MN or NY)")

Enter amount of purchase: 54
Enter your state (CA, MN or NY): tr
Please Enter Correct state (CA,MN or NY)

# Task no 4
## List

In [70]:
sentence=["The","Quick","Brown","Fox","Jumped","Over","the","Lazy","Dog"]
for word in sentence:
    print(word)

The
Quick
Brown
Fox
Jumped
Over
the
Lazy
Dog

# Task no 5
## Multiples of 5

In [76]:
for i in range(1,31):
    if i%5==0:
        print(i)

5
10
15
20
25
30

# Task no 6 
## Extract First Names

In [83]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names=[x.split(' ')[0] for x in names]
first_names

['Rick', 'Morty', 'Summer', 'Jerry', 'Beth']

# Task no 7 
## Multiples of 3

In [87]:
multiple_3=[x for x in range(1,20) if x%3==0]
multiple_3

[3, 6, 9, 12, 15, 18]

# Task no 8
## Filter names by score

In [98]:
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }

passed =[name for name, score in scores.items() if score >=65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

# Task no 9
## Zip List to a Dictionary

In [100]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast=dict(zip(cast_names,cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

# Task no 10 
## use of enumerate

In [102]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", 
"Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index , name in enumerate(cast):
    height=heights[index]
    cast[index]= f"{name} {height}"
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']